{% extends 'base.html' %}

{% block title %}Histórico de Entradas no Estoque{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h2"><i class="bi bi-box-arrow-in-down"></i> Histórico de Entradas no Estoque</h1>
        <a href="{% url 'entrada_estoque_create' %}" class="btn btn-primary"> 
            <i class="bi bi-plus-circle"></i> Registrar Entrada
        </a>
    </div>

    <div class="card shadow-sm border-0">
        <div class="card-body">
            {% if entradas_estoque %}
            <div class="table-responsive">
                <table class="table table-hover align-middle"> 
                    <thead class="table-light">
                        <tr>
                            <th>Produto</th>
                            <th>Quantidade Comprada</th>
                            <th>Custo Unitário</th>
                            <th>Custo Total</th>
                            <th>Data da Compra</th>
                             <th>Ações</th> 
                        </tr>
                    </thead>
                    <tbody>
                        {% for entrada in entradas_estoque %} 
                        <tr>
                            <td>{{ entrada.produto.nome }}</td> 
                            <td>{{ entrada.quantidade }}</td>
                            <td>R$ {{ entrada.custo_unitario }}</td>
                            <td>R$ {% widthratio entrada.quantidade 1 entrada.custo_unitario %}</td> 
                            <td>{{ entrada.data_compra|date:"d/m/Y H:i" }}</td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="alert alert-info text-center mb-0">
                <i class="bi bi-info-circle"></i> 
                Nenhuma entrada de estoque registrada ainda.
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}